.home {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.game-modes {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

@include breakpoint($breakpoint-lg) {
    .game-modes {
        flex-direction: row;
    }
}