.play-container {
    padding: 4rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6rem;
}

.play__question {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-4xl);
    font-family: var(--font-family-1);
}

.play__suggestions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    grid-gap: 1rem;
    width: 100%;
}