.play-container {
    padding: 4rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6rem;
}

.play__question {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-4xl);
    font-family: var(--font-family-1);
    text-align: center;
}

.play__suggestions {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    width: 100%;
}

@include breakpoint($breakpoint-xs) {
    .play__suggestions {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include breakpoint($breakpoint-md) {
    .play__suggestions {
        grid-template-columns: repeat(4, 1fr);
    }
}