.home-button {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-decoration: none;
    overflow: hidden;
    border-radius: 1.2rem;
    border: 0.15rem solid var(--color-gray);
    transition: 0.3s background-color, 0.3s border;
}
.home-button:hover {
    background-color: var(--color-gray);
    border: 0.15rem solid var(--color-dark-gray);
}

.home-button .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    flex-shrink: 0;
}

.home-button .icon-container.color--red {
    background-color: var(--color-red-1);
    color: var(--color-red-2);
}
.home-button .icon-container.color--blue {
    background-color: var(--color-blue-1);
    color: var(--color-blue-2);
}
.home-button .icon-container.color--orange {
    background-color: var(--color-orange-1);
    color: var(--color-orange-2);
}
.home-button .icon-container.color--green {
    background-color: var(--color-green-1);
    color: var(--color-green-2);
}

.home-button .icon-container .icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
    color: var(--color-white);
    border-radius: 100%;
}
.home-button .icon-container.color--red .icon-circle {
    background-color: var(--color-red-2);
}
.home-button .icon-container.color--blue .icon-circle {
    background-color: var(--color-blue-2);
}
.home-button .icon-container.color--orange .icon-circle {
    background-color: var(--color-orange-2);
}
.home-button .icon-container.color--green .icon-circle {
    background-color: var(--color-green-2);
}

.home-button .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    padding: 1.1rem;
    font-family: var(--font-family-1);
}

.home-button .text h2 {
    color: var(--color-black);
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-extrabold);
}

.home-button .text p {
    color: var(--color-light-black);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
}

@include breakpoint($breakpoint-xs) {
    .home-button {
        flex-direction: row;
    }

    .home-button .icon-container {
        padding: 0 1.4rem;
    }
}

@include breakpoint($breakpoint-lg) {
    .home-button .icon-container .icon-circle {
        width: 4.2rem;
        height: 4.2rem;
    }
    .home-button .icon-container .icon-circle svg {
        height: 15px !important;
        width: 15px !important;
    }
}