.level-button {
    display: flex;
    align-items: stretch;
    text-decoration: none;
    overflow: hidden;
    border-radius: 1.2rem;
    border: 0.15rem solid var(--color-gray);
    transition: 0.3s background-color, 0.3s border;
}
.level-button:hover {
    background-color: var(--color-gray);
    border: 0.15rem solid var(--color-dark-gray);
}

.level-button .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.4rem;
    flex-shrink: 0;
}

.level-button .icon-container.color--red {
    background-color: var(--color-red-1);
    color: var(--color-red-2);
}
.level-button .icon-container.color--blue {
    background-color: var(--color-blue-1);
    color: var(--color-blue-2);
}
.level-button .icon-container.color--orange {
    background-color: var(--color-orange-1);
    color: var(--color-orange-2);
}
.level-button .icon-container.color--green {
    background-color: var(--color-green-1);
    color: var(--color-green-2);
}

.level-button .icon-container .icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
    color: var(--color-white);
    border-radius: 100%;
}
.level-button .icon-container.color--red .icon-circle {
    background-color: var(--color-red-2);
}
.level-button .icon-container.color--blue .icon-circle {
    background-color: var(--color-blue-2);
}
.level-button .icon-container.color--orange .icon-circle {
    background-color: var(--color-orange-2);
}
.level-button .icon-container.color--green .icon-circle {
    background-color: var(--color-green-2);
}

.level-button .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    padding: 1.1rem;
    font-family: var(--font-family-1);
}

.level-button .text h2 {
    color: var(--color-black);
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-extrabold);
}

.level-button .text p {
    color: var(--color-light-black);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
}